/* modal */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-music{
    /* background-color: aqua; */
    padding: 40px;
}

.music-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.music-modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    width: 350px;
    text-align: center;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

.song-item {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.song-item img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    cursor: pointer;
    object-fit: cover;
}